*{
    margin: 0;
    padding: 0;
    color: #1A1442;


    --cor-blue: #1268EA;
    --cor-azul-escuro:#1168AD;
    --cor-white:#fff;
    --cor-branco:#f5f5f5;
    --cor-rosa-claro: #FFE1E0;
    --cor-rosa-escuro:#FF8B87;
    --cor-liner:linear-gradient(180deg, rgba(255,139,135,1) 41%, rgba(255,139,135,0.5942752100840336) 62%);

}

@font-face {
    font-family: "SF New Republic";
    src: url("./font/sf-new-republic.regular.ttf");
}

i{
 color: var(--cor-white);
 margin-left: 6px;
 font-size: smaller;
}

.logo img{
    width: 10rem;
}

.menu_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 1rem;
    margin: 0 10rem 0 10rem;
    height: 4rem;
}

.menu_nav ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
}

.menu_nav li a{
      
    transition:.3s;
    text-decoration: none;
}

.menu_nav li a:hover{
    color: #FF8B87;
    font-size:large;
    
}
.menu_nav li a:hover::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    font-size: small;
    text-align: center;
    content: "\f1b0";
    margin: 6px;
}


.menu_nav button{
    height: 3rem;
    width: 11rem;
    background-color:var(--cor-blue);
    border: transparent;
    color: var(--cor-white);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.carousel{
    background-color: #fff0f0;
    clip-path: polygon(15% 7%, 100% 0, 90% 100%, 0 93%, 0 0);
    height: 530px;
   
}

.container-carousel{
    background-color: var(--cor-rosa-claro);
    clip-path: polygon(15% 12%, 100% 0, 85% 100%, 0 100%, 0 2%);
    display: flex;
    font-size: 40px;
    text-align: justify;
    align-items: center;
    width: 100%;
    
}

.img-cat{
    height: 31.25rem;
 
}

.img-linha{
    height: 12rem;
}

.texto-carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "SF New Republic";
   
}

.btn-carousel{
    color: var(--cor-white);
    background-color: var(--cor-blue);
    border: none;
    font-size: 16px;
    width: 11rem;
    height: 3rem;
    border-radius: 5px;
    margin-top: 2rem;
    cursor: pointer;
}

.apoie_colabore{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SF New Republic";
    font-size: 24px;
 
}

.btn-apoie{
    background-color: var(--cor-rosa-escuro);
    border: none;
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    margin: 30px 0 30px 0;
    cursor: pointer;
    color: var(--cor-branco);
}

.apoie_colabore h2{
    width: 550px;
    
}

.img-apoie{
 width: 70%;
 margin: 50px 0 20px 0;
}

.btn-apoie_colabore{
    color: var(--cor-white);
    background-color: var(--cor-azul-escuro);
    border: none;
    font-size: 18px;
    width: 15rem;
    height: 4rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    cursor: pointer;
}

.adocao{
   
    height: 900px;
    background-color: #ffc3c2;
    clip-path: polygon(0 0, 0% 20%, 0 47%, 0 98%, 50% 85%, 100% 98%, 100% 61%, 100% 20%, 100% 0, 51% 0);
}

.box-adocao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-adocao{
    position: absolute;
    float: left;
    left: 0;
    width: 200px;
 
}

.container-adocao{
    display: flex;
    flex-direction: column;
    height: 890px;
    align-items: center;
    clip-path: polygon(0 0, 0% 20%, 0 47%, 0 100%, 50% 85%, 100% 100%, 100% 61%, 100% 20%, 100% 0, 51% 0);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,176,173,1) 0%, rgba(255,123,119,1) 100%);
}

.texto-adocao{
    color: var(--cor-branco);
    font-family: "SF New Republic";
    font-weight: 300;
    font-size: 32px;
    margin-top: 20px;
}


select{
    width: 10rem;
    height: 2rem;
    background-color: transparent;
    color: var(--cor-branco);
    border: 1px solid var(--cor-branco);
    border-radius: 5px;
    margin: 2rem 0.5rem ;
}

.btn-adocao{
    width: 10rem;
    height: 2rem;
    color: var(--cor-branco);
    background-color: var(--cor-azul-escuro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.fts-adocao{
 display: flex;
 margin-bottom: 40px;

}

.img-gatos{
   width: 330px;
}

.icon-adocao{
position: relative;
top: -120px;
left: 20px;
background-color: var(--cor-azul-escuro);
font-size: 60px;
text-align: center;
height: 5rem;
width: 4rem;
border-radius: 20px;
box-shadow: 10px 5px 40px  var(--cor-azul-escuro);
}

.h2-adocao,.p-adocao,.span-adocao{
 color: var(--cor-branco);
 margin-left: 120px;


}

.btn-ver_todos{
   border: 1px solid var(--cor-branco);
   color: var(--cor-branco);
   background-color: #FF8885;
   width: 15rem;
   height: 3rem;
   border-radius: 5px;
   cursor: pointer;
}

.sobre{
    position: relative;
}

.container-sobre{
    display: flex;
    flex-direction: column;
}

.img-sobre_ong{
    width: 90%;
       
}

.h2-sobre{
    font-family: "SF New Republic";
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
}

.p-sobre{
 width: 50%;
 text-align: center;
 margin-bottom: 80px;
 margin-left: 350px;
}

.btn-saiba_mais{
    position: absolute;
    width: 15rem;
    height: 4rem;
    font-size: 16px;
    color: var(--cor-branco);
    background-color: var(--cor-azul-escuro);
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    bottom: 4rem;
    right: 17rem;
}


.perguntas{
    
    background-color: var(--cor-rosa-claro);
    position: relative;
     
}
.div_perguntas{
    height: 750px;
    text-align: center;
    
}
.h2_perguntas{
    font-family: "SF New Republic";
    font-size: 24px; 
      
}
.far{
    color: var(--cor-rosa-escuro);
    margin-top: 50px;
    margin-bottom: 10px;
}
.pata_esquerda{
    width: 300px;
    position: absolute;
    top: -6rem;
    right: 65.7rem;
    
}
.pata_direita{
    width: 300px;
    position: relative;
    left: 32.6rem;
    top:-30rem;
    background-attachment: fixed;
}
details{
  
    width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius:5px;
    cursor: pointer;
    font-family: "Roboto";

}       
    summary{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      margin-bottom: 0;
      transition: margin-bottom .4s;
    
    }
     
    summary::-webkit-details-marker,
    summary::marker{
      display: none;
    }
    
 
    summary::after{
      font-family: "Font Awesome 5 Free";
      content: '\f078';
      font-size: 1rem;
      margin-right: 1rem;
      cursor: pointer;
      color: #FF8885;
      background-color: var(--cor-rosa-claro);
      padding: .70rem;
      border-radius: 5px;
    
    }
    
    *:not(summary) {
      animation-name: fade;
      animation-duration: .4s;
    }
  
  
 
  details[open]{
    background-color: var(--cor-rosa-escuro);
    
    p{
        color: var(--cor-branco);
    } 
    summary{
      margin-bottom: 1.5rem;
      color: var(--cor-branco);
      
     
      &::after{
        background-color: transparent;
        border: 1px solid var(--cor-white);
        color: var(--cor-white);
        content: "\f077";
      }
    }
  }
  
  @keyframes fade {
    0%{
      opacity: 0;
    }
    
    100%{
      opacity: 1;
    }
}

.depoimentos{
    display: flex;
    align-items: center;
    padding: 20px 0 80px 0;
 
}

.container-depoimentos{
    margin-left: 80px;
    width: 220px;
}

.container-depoimentos h2{
    font-family: "SF New Republic";
    font-size: 26px; 
    font-weight: 300;
    padding-bottom: 20px;
}

.container-depoimentos p{
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
}

.img-aspas{
    width: 200px;
}

.swiper{
    width: 800px;
    height: 450px;
    
    
}

.slider-wrapper{
   
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item{
   
    display: flex;
    text-align: center;
    user-select: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:var(--cor-white);
    box-shadow: 5px 5px 20px 5px var(--cor-rosa-claro);
    border-radius: 5px;
    padding: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    
}

.card-list .card-item .avatar{
    position: absolute;
    top: -3rem;
    z-index: 1;
    background: linear-gradient(to bottom, #ff8b78, #ff8a783b) border-box;
    border-radius: 50em;
    border: 10px solid transparent;
}

.card-item h3, .card-item p{
    font-family: "Roboto";
   
}

.card-item p{
    
    font-size: 14px;
    font-weight: 300;
}

.text{
    margin-top: 10px;
}

.slider-wrapper .swiper-pagination-bullet {
    background-color: var(--cor-rosa-escuro);
}

.slider-wrapper .swiper-slide-button{
    color: var(--cor-rosa-escuro);
    margin-top: -50px;
    transition: 0.2s ease;
       
}

.slider-wrapper .swiper-slide-button:hover{
    color: var(--cor-rosa-claro);
   
}
.parceiros{
    height: 80vh;
}
.h2_parceiros{
   
    font-family: "SF New Republic";
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    position: absolute;
    z-index: 99;
    margin: 10px 500px;
   
}

.img_parceiros_linha{
    margin-top: -20rem;
    height: 25.8rem;
    position: relative;
}

.container-parceiros_carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.img_parceiros-carrossel{
    width: 12rem;
    margin: 50px 0 100px 0;
    
}


.form{
    display: flex;
    position: relative;
    height: 74vh;
    background-color: var(--cor-azul-escuro);
    padding-top: 80px;
  
}

.h2_form{
    color: var(--cor-branco);
    font-family: "SF New Republic";
    font-size: 40px;
    font-weight: 400;
    margin: 20px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    margin-left: 200px;
   
    
}

.forms input{
 background: transparent;
 height: 3rem;
 border: 1px solid white;
 border-radius: 5px;
 
}

.forms input::placeholder{
    color: var(--cor-branco);
    padding: 0.5rem;
}

.btn-form{
    position: relative;
    width: 22rem;
    height: 4rem;
    font-size: 18px;
    color: var(--cor-branco);
    background-color: #014C87;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    bottom: -2rem;
    margin-left: 20px;
    
}

.img-gato-duvidas{
    width: 60%;
    position: absolute;
    top: -8rem;
    right: 0;
}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Altura da área inclinada */
    background-color: var(--cor-white); /* Cor da inclinação */
    transform-origin: top right;
    transform: skewY(4deg); /* Inclina apenas a parte superior */
}

.container-duvidas{
    height: 50vh;
    background-color: #E7807D;
    
    
}

.container-duvidas h2{
    color: var(--cor-branco);
}

.h2_container-duvidas{
    font-family: "SF New Republic";
    font-size: 22px;
    font-weight: 400;
    padding-top: 100px;
    text-align: center;
}

.cards-duvidas{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.card-duvidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    text-align: center;
    color: var(--cor-branco);
    margin-top: 40px;
    padding:2rem;
    cursor: pointer;
    z-index: 99;
}

.card-duvidas:hover{
background-color: #014C87;
border-radius: 5px;
}

.card-duvidas h2{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
}

.card-duvidas p{
    font-family: "Roboto";
    color: var(--cor-branco);
    font-size: 12px;
    margin-top: 15px;
   
}

.fa-envelope,
.fa-whatsapp, 
.fa-heart{
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--cor-white);
    
}

.rede-social{
 font-size: 20px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    height: 50vh;
    background-color: #E7807D;
    text-align: center;
}

.newsletter h2{
    font-family: "Roboto";
    font-size: 20px;
    color: var(--cor-branco);
    margin-bottom: 10px;
}

.input-newsletter{
  position: relative;  
}

.newsletter span{
    font-family: "Roboto";
    font-size: 12px;
    color: var(--cor-branco);
    margin-bottom: 10px;
}

.newsletter input{
    
    background-color: transparent;
    border: 1px solid var(--cor-branco);
    border-radius: 3px;
    height: 3rem;
    width: 600px;
}

.newsletter input::placeholder{
    color: var(--cor-branco);
    padding-left: 10px;
    font-size: 12px;
   
}

.fa-arrow-right{
    position: absolute;
    right: 5px;
    font-size: 30px;
    bottom: 10px;
}


@media (max-width: 768px) {
    .menu_nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        margin: 0 2rem;
    }

    .menu_nav li{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .slider-wrapper {
        margin:  0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button{
        display: none;
    }

    
}